
<!DOCTYPE html>
<html>
<head>
    <link rel="SHORTCUT ICON" href="~/Content/Theme/images/icon1.png" />
    <title> </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/Areas/ADMIN/TN/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/Areas/ADMIN/TN/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="~/Areas/ADMIN/TN/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="css/icon-font.min.css" type='text/css' />
    <script src="~/Areas/ADMIN/TN/js/amcharts.js"></script>
    <script src="~/Areas/ADMIN/TN/js/serial.js"></script>
    <script src="~/Areas/ADMIN/TN/js/light.js"></script>
    <!-- //lined-icons -->
    <script src="~/Areas/ADMIN/TN/js/jquery-1.10.2.min.js"></script>
    <!--pie-chart--->
    <script src="~/Areas/ADMIN/TN/js/pie-chart.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#demo-pie-1').pieChart({
                barColor: '#3bb2d0',
                trackColor: '#eee',
                lineCap: 'round',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-2').pieChart({
                barColor: '#fbb03b',
                trackColor: '#eee',
                lineCap: 'butt',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-3').pieChart({
                barColor: '#ed6498',
                trackColor: '#eee',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });


        });

    </script>
</head>
<body>
    <div class="page-container">
        <!--/content-inner-->
        <div class="left-content">
            <div class="inner-content">
                <!-- header-starts -->
                <div class="header-section">
                    <!-- top_bg -->
                    <div class="top_bg">

                        <div class="header_top">
                        @if (MAX_KID.Security.SessionPersister.UserName != null) {
                            <div class="top_right">
                                <ul>
                                    <li><a href="#">HỖ TRỢ</a></li>|
                                    <li><a href="#"> @MAX_KID.Security.SessionPersister.UserName.UserName</a></li>|
                                    <li><a href="#">THÔNG TIN TÀI KHOẢN</a></li>
                                    <li><a href="#">THOÁT </a></li>
                                </ul>
                            </div>
                          }
                            
                            <div class="clearfix"> </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <!-- /top_bg -->
                </div>
                <div class="header_bg">

                    <div class="header">
                        <div class="head-t">
                            
                            <!-- start header_right -->
                            <div class="header_right">
                                <div class="rgt-bottom">
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="search">
                                    <form class="form-inline navbar-search" method="post" action="/ADMIN/SANPHAMADMIN/TimKiemSanPhamAdmin">
                                        <input id="txttimkiem" value="" class="srchTxt" type="text" name="txttimkiem" placeholder="Tìm kiếm sản phẩm..."  />
                                        <input type="submit" value="">
                                        @*<button type="submit" id="submitButton" class="btn btn-primary">TÌM KIẾM</button>*@
                                    </form>
                                </div>
                                @*<div class="search">
                                    <form>
                                        <input type="text" value="" placeholder="Tìm kiếm sản phẩm...">
                                        <input type="submit" value="">
                                    </form>
                                </div>*@
                                <div class="clearfix"> </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>

                </div>
                <!-- //header-ends -->
                <!--content-->
                <div class="monthly-grid">
                    @RenderBody()
                </div>
            <!--content-->
        </div>
    </div>
    <!--//content-inner-->
    <!--/sidebar-menu-->
    <div class="sidebar-menu">
        <header class="logo1">
            <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a>
        </header>
        <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
        <div class="menu">
            <ul id="menu">
                <li><a href="/ADMIN/HOME/HOME"><i class="fa fa-home"></i> <span>TRANG CHỦ</span></a></li>
                <li id="menu-academico">
                    <a href="#"><i class="fa fa-table"></i> <span>QUẢN TRỊ</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                    <ul id="menu-academico-sub">
                        <li id="menu-academico-avaliacoes"><a href="/ADMIN/SANPHAMADMIN/Index"><i class="fa fa-file"></i>SẢN PHẨM</a></li>
                        <li id="menu-academico-avaliacoes"><a href="/ADMIN/HANGSXADMIN/Index"><i class="fa fa-file"></i>NHÀ SẢN XUẤT</a></li>
                        <li id="menu-academico-boletim"><a href="/ADMIN/LOAISPADMIN/Index"><i class="fa fa-file"></i>LOẠI SẢN PHẨM</a></li>
                    </ul>
                </li>
               
                <li id="menu-academico"><a href="#"><i class="fa fa-th-list"></i> <span>ĐƠN HÀNG</span></a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    </div>
    <script>
        var toggle = true;

        $(".sidebar-icon").click(function () {
            if (toggle) {
                $(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
                $("#menu span").css({ "position": "absolute" });
            }
            else {
                $(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
                setTimeout(function () {
                    $("#menu span").css({ "position": "relative" });
                }, 400);
            }

            toggle = !toggle;
        });
    </script>
    <!--js -->
    <script src="~/Areas/ADMIN/TN/js/jquery.nicescroll.js"></script>
    <script src="~/Areas/ADMIN/TN/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Areas/ADMIN/TN/js/bootstrap.min.js"></script>
    <!-- /Bootstrap Core JavaScript -->
    <!-- real-time -->
    <script language="javascript" type="text/javascript" src="~/Areas/ADMIN/TN/js/jquery.flot.js"></script>
    <script type="text/javascript">

        $(function () {

            // We use an inline data source in the example, usually data would
            // be fetched from a server

            var data = [],
                totalPoints = 300;

            function getRandomData() {

                if (data.length > 0)
                    data = data.slice(1);

                // Do a random walk

                while (data.length < totalPoints) {

                    var prev = data.length > 0 ? data[data.length - 1] : 50,
                        y = prev + Math.random() * 10 - 5;

                    if (y < 0) {
                        y = 0;
                    } else if (y > 100) {
                        y = 100;
                    }

                    data.push(y);
                }

                // Zip the generated y values with the x values

                var res = [];
                for (var i = 0; i < data.length; ++i) {
                    res.push([i, data[i]])
                }

                return res;
            }

            // Set up the control widget

            var updateInterval = 30;
            $("#updateInterval").val(updateInterval).change(function () {
                var v = $(this).val();
                if (v && !isNaN(+v)) {
                    updateInterval = +v;
                    if (updateInterval < 1) {
                        updateInterval = 1;
                    } else if (updateInterval > 2000) {
                        updateInterval = 2000;
                    }
                    $(this).val("" + updateInterval);
                }
            });

            var plot = $.plot("#placeholder", [getRandomData()], {
                series: {
                    shadowSize: 0	// Drawing is faster without shadows
                },
                yaxis: {
                    min: 0,
                    max: 100
                },
                xaxis: {
                    show: false
                }
            });

            function update() {

                plot.setData([getRandomData()]);

                // Since the axes don't change, we don't need to call plot.setupGrid()

                plot.draw();
                setTimeout(update, updateInterval);
            }

            update();

            // Add the Flot version string to the footer

            $("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
        });

    </script>
    <!-- /real-time -->
    <script src="~/Areas/ADMIN/TN/js/jquery.fn.gantt.js"></script>
    <script>
    </script>
    <script src="~/Areas/ADMIN/TN/js/menu_jquery.js"></script>
</body>
</html>
