@model MAX_KID.Models.Entities.TAIKHOAN

<div class="col-md-6 text-uppercase">
    <table class="table table-striped table-no-padding-horizontal">
        <tbody>
            <tr>
                <td class="totals-order">TÊN KHÁCH: </td>
                <td class="text-right">@Model.HoVaTen</td>
            </tr>

            <tr>
                <td class="totals-order">Email: </td>
                <td class="text-right ">@Model.Email</td>
            </tr>
            <tr>
                <td class="totals-order">Phone: </td>
                <td class="text-right ">@Model.DienThoaiLienHe</td>
            </tr>
            <tr>
                <td class="totals-order">ĐỊA CHỈ: </td>
                <td class="text-right ">@Model.DiaChi</td>
            </tr>
        </tbody>
    </table>
</div>
